@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap");

* {
  font-family: "Playpen Sans", "cursive";
}
body {
  background-color: #000000;
  color: azure;
}
header {
  text-align: center;
  font-weight: 800;
}

.search-group {
  background: yellow;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input {
  width: 100%;
  font-size: 18px;
}
/* up{
  text-align: center;
} */
#result {
  /* display: flex; */
  /* background-color:#ffff00; */
}
/* loading spinner  animation*/
#loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #000000; /* Blue */
  border-radius: 55%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #result {
    width: 100%;
  }
}
