@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap");

/* variables */
:root {
  --primary-color: #00ffff;
  --secondary-color: #2F3C7E;
  --tertiary-color: #b9e74c;
  --quaternary-color: #daefef;
}
/* reset */
body,
p,
a,
ul,
li {
  padding: 0;
  margin: 0;
  /* text-decoration: none; */
  list-style-type: none;
}
html {
  font-size: 1em;
  font-weight: normal;
  line-height: 26px;
}
/* fonts */
@font-face {
  font-family: "Playpen Sans", cursive;
  src: url("assests/fonts/PlaypenSans-VariableFont_wght.ttf");
  font-family: "Inconsolata", monospace;
  src: url("assests/fonts/Inconsolata-VariableFont_wdth,wght.ttf");

  src: url("assests/fonts/Lato-Regular.ttf");
  font-family: "Lato", sans-serif;
}

/* base styles */
body {
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  font-family: "Playpen Sans", cursive;
}
.book-search {
  background-color: #dcdcb2;
  padding: 8px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
input {
  width: 100%;
  display: block;
  padding: 0 5px;
  outline: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
button {
  font-family: "Playen Sans", cursive;
  font-weight: 900;
  border: 2px solid #3504a778;
  color: #0e0000;
  background-color: #FBEAEB;
  padding: 6px 12px;
  border-radius: 4px;
  letter-spacing: 1px;
  margin-left: 0.685rem;
}
button:hover {
  opacity: 0.9;
  cursor: pointer;
}
#result {
  font-family: "Inconsolata", monospace;
  margin: 2em auto;
  max-width: 1200px;
}
.no-result {
  position: absolute;
  text-align: center;
  font-size: 13px;
  top: 20%;
  right: 0;
  left: 0;
}
  
.card {
  border: 1px solid #1e1919;
  color: #1e1919;
  padding: 0.5em 2em;
  background-color: #fcf9f9d6;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Lato", sans-serif;
}
.card > * {
  line-height: 20px;
  padding-top: 8px;
}
.card a {
  display: block;
  color: #008000;
}
.card img {
  max-width: 100%;
}

footer{
  /* margin-top: 2rem; */
}
footer h4,
h1 {
  text-align: center;
}
footer a {
  color: #abd059;
}
/* loading spinner  animation*/
#loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 15px solid #000000; /* Blue */
  border-radius: 55%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* mobile styles */

/* small tablets styles */
@media screen and (min-width: 600px) {
  #result {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5%;
  }
}
