@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap");

* {
  font-family: "Playpen Sans", "cursive";
}
body {
  background-color: #000000;
  color: azure;
}
header {
  text-align: center;
  font-weight: 800;
}
form {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid#ff0000;
  margin: 0 auto;
}
input {
  width: 100%;
  /* padding: 12px 10px; */
  font-size: 18px;
}
#result{
  padding: 4rem;
}
#result::after {
  content: "";
  clear: both;
  display: table;
}
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #result {
    width: 100%;
  }
}
